<div class="row">
  <span class="bg-light h3 m-3 col-4 text-center">注文情報確認</span>
</div>

<div class="row">
  <table class="col-8 table-bordered">
    <thead>
      <tr class="bg-light">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>

    <% @total_price = 0 %>

    <tbody><% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= attachment_image_tag cart_item.item, :image , :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %><%= cart_item.item.name %></td>
        <td><%= converting_to_jpy(cart_item.item.with_tax_price) %></td>
        <%= form_with model: cart_item, url:cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
          <td>
            <%= f.select :amount, *[1..10], value: params[:amount] %>
            <%= f.submit "変更", class:"btn btn-success text-white" %>
          </td>
        <% end %>
        <td><%= converting_to_jpy(cart_item.subtotal) %></td>
        <% @total_price += cart_item.subtotal %>
      </tr><% end %>
    </tbody>
  </table>
  
  <table class="col-3 ms-2 table-bordered">
    <tr>
      <th class="bg-light">送料</th><td><%= order.shipping_cost %></td>
    </tr>
    <tr>
      <th class="bg-light">商品合計</th><td><%= @total_price %></td>
    </tr>
    <tr>
      <th class="bg-light">請求金額</th><td><%= @total_price + order.shipping_cost %></td>
    </tr>
  </table>
  
</div>

<div class="row m-3">
  <h3>支払方法</h3>
  <p><%= </p>
</div>

<div class="row m-3">
  <h3>お届け先</h3>
</div>