<div class="row">
  <table class="table col-2 mt-3">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <tr><% @genres.each do |genre| %>
        <td><%= genre.name %></td>
      </tr><% end %>
    </tbody>
  </table>

  <div class="col-10 mt-3">
    <span class="h3 bg-light mt-3">商品一覧(全<%= @items_count %>件)</span>
    <div><% @items.each do |item| %>
      <ul class="col-3 d-inline-block list-inline">
        <li><%= attachment_image_tag item, :image , :fill, 150, 150, format: 'jpeg',fallback: "no_image.jpg" %></li>
        <li><%= item.name %></li>
        <li><%= item.price %></li>
      </ul><% end %>
    </div>
  </div>
</div>

